<div style="background-color: #f91942; color:white" class="mt-5">
    <section class=" container">
        <div class=" row between-xs mt-3">
            
                <div class="col-md-4">
                    <h2 class="custom-h2">Notre mission : créer un monde où chacun est libre de travailler avec les personnes de son choix.</h2>
                    
                        <picture  aria-hidden="true">
                            <img class="imgLazy loaded" alt="" src="//res.cloudinary.com/hopwork/image/upload/1px.png" >
                        </picture>
                    
                </div>
                <div class="col-md-6">
                    <div class="who-is-mission__description">
                        <div class="prismic-rich-text"><p class="who-is-mission__description">Chez SITE NAME, nous croyons en une nouvelle révolution du monde du travail. Un monde où nous pouvons choisir la manière dont nous voulons travailler. Avec qui travailler.&nbsp;</p><p></p><p class="who-is-mission__description">Nous voulons offrir à notre communauté de freelances et d’entreprises un lieu d’opportunités. De choix. D’expertise. Des moyens pour devenir plus agile, innovant et compétitif. Un algorithme de pointe pour trouver la bonne personne. Des outils simples et une plateforme sécurisée pour faciliter l’administratif.&nbsp;</p><p></p><p class="who-is-mission__description">Avec déjà plus de 100 000 projets réalisés avec succès, nous sommes fiers d’être aujourd’hui la plus importante communauté de freelancing en Europe.</p></div>
                    </div>
                </div>
            
        </div>
    </section>
</div>