<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
                <h3 style="font-family: Agrandir Tight,Arial,Helvetica,sans-serif;font-weight: 500;">Nous rencontrer </h3>
				<p>
                La Malterie <br>
                241 rue Saint Denis <br>
                75002 Paris <br>
                </p>
                <ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
				</ul>
			</div>

            <div class="col-md-3 col-sm-6">
                <h3 style="font-family: Agrandir Tight,Arial,Helvetica,sans-serif;font-weight: 500;">SITE NAME </h3>
                <ul class="footer-links">
                    <li><a  href="#">A propos de nous</a></li>
                    <li><a  href="#">Jobs</a></li>
                    <li><a  href="#">Presse</a></li>
                    <li><a  href="#">Actualités freelancing</a></li>
                    <li><a  href="#">CGU & CGV</a></li>
                    <li><a  href="#">Protection des données</a></li>
                    <li><a  href="#">FAQ</a></li>
                    <li><a  href="#">Plan du site</a></li>
                </ul>
			</div>
            <div class="col-md-3 col-sm-6">
                <h3 style="font-family: Agrandir Tight,Arial,Helvetica,sans-serif;font-weight: 500;">Client </h3>
                <ul class="footer-links">
                    <li><a  href="#">Offres et tarifs</a></li>
                    <li><a  href="#">SITE NAME Entreprise</a></li>
                    <li><a  href="#">SITE NAME Open</a></li>
                    <li><a  href="#">SITE NAME Insight</a></li>
                    <li><a  href="#">SITE NAME Plus</a></li>
                    <li><a  href="#">SSO</a></li>
                    <li><a  href="#">Creer mon profil freelance</a></li>
                </ul>
                
			</div>
            <div class="col-md-3 col-sm-6">
                <h3 style="font-family: Agrandir Tight,Arial,Helvetica,sans-serif;font-weight: 500;">Découvrir </h3>
                <ul class="footer-links">
                    <li><a  href="#">Offres et tarifs</a></li>
                    <li><a  href="#">SITE NAME Entreprise</a></li>
                    <li><a  href="#">SITE NAME Open</a></li>
                    <li><a  href="#">SITE NAME Insight</a></li>
                    <li><a  href="#">SITE NAME Plus</a></li>
                    <li><a  href="#">SSO</a></li>
                    <li><a  href="#">Creer mon profil freelance</a></li>
                </ul>
                
			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© {{ dateAnnee }} SITE NAME. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>