

<app-entreprise-banner></app-entreprise-banner>


<app-brand-slider></app-brand-slider>


<app-entreprise-freelance></app-entreprise-freelance>


<app-entreprise-verified></app-entreprise-verified>



<app-entreprise-modele></app-entreprise-modele>


<div class="container mt-5">

        <div class="footer-corporate__content landing-page__section-content row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h2 class="landing-page__align-left custom-h2">
                    Prêt à travailler avec les meilleurs ?
                </h2>
                
                    <button type="button" class="button" >Créer un compte</button>
                
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                
                    <img class="imgLazy loaded" src="https://images.prismic.io/malt/d831b55c-9dca-4c97-9fa5-89e4665dfc3e_lp-companies-footerx2.png?auto=compress,format">
                
            </div>
        </div>

</div>
