<!-- Add Review -->
<h3 class="listing-desc-headline margin-bottom-10">Ajouter un commentaire</h3>
<p class="comment-notes">Votre addresse email ne sera pas visible par le public</p>

<!-- Subratings Container -->
<div class="sub-ratings-container">

    <!-- Subrating #1 -->
    <div class="add-sub-rating">
        <div class="sub-rating-title">Service <i class="tip" data-tip-content="Quality of customer service and attitude to work with you"></i></div>
        <div class="sub-rating-stars">
            <!-- Leave Rating -->
            <div class="clearfix"></div>
            <form class="leave-rating">
                <input type="radio" name="rating" id="rating-1" value="1"/>
                <label for="rating-1" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-2" value="2"/>
                <label for="rating-2" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-3" value="3"/>
                <label for="rating-3" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-4" value="4"/>
                <label for="rating-4" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-5" value="5"/>
                <label for="rating-5" class="fa fa-star"></label>
            </form>
        </div>
    </div>

    <!-- Subrating #2 -->
    <div class="add-sub-rating">
        <div class="sub-rating-title">Value for Money <i class="tip" data-tip-content="Overall experience received for the amount spent"></i></div>
        <div class="sub-rating-stars">
            <!-- Leave Rating -->
            <div class="clearfix"></div>
            <form class="leave-rating">
                <input type="radio" name="rating" id="rating-11" value="1"/>
                <label for="rating-11" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-12" value="2"/>
                <label for="rating-12" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-13" value="3"/>
                <label for="rating-13" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-14" value="4"/>
                <label for="rating-14" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating-15" value="5"/>
                <label for="rating-15" class="fa fa-star"></label>
            </form>
        </div>
    </div>

    	

</div>
<!-- Subratings Container / End -->

<!-- Review Comment -->
<form id="add-comment" class="add-comment">
    <fieldset>

        <div class="row">
            <div class="col-md-6">
                <label>Nom:</label>
                <input type="text" value=""/>
            </div>
                
            <div class="col-md-6">
                <label>Email:</label>
                <input type="text" value=""/>
            </div>
        </div>

        <div>
            <label>Commentaire text:</label>
            <textarea cols="40" rows="3"></textarea>
        </div>

    </fieldset>

    <button class="button">Ajouter</button>
    <div class="clearfix"></div>
</form>
