    <!-- Steps started -->
    <div class="container margin-top-70">
        <div class="row">
    
            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-45">
                        <strong class="headline-with-separator">Le recrutement freelance enfin simple et rapide</strong>
                </h3>
            </div>
    
            <ol class="c-numbered-paragraphs row" >
                    
                <li class="hp-recruitment__list-item col-md-4 col-xs-12">
                        
                            <img class="hp-recruitment__img imgLazy loaded" [src]="step_image_one" alt="" >
                        
                        <div class="hp-recruitment__text">
                            <div class="prismic-rich-text"><p><strong>Trouvez des freelances sur mesure </strong>parmi nos milliers de profils vérifiés et qualifiés, grâce à un moteur de recherche intuitif et performant.</p></div>
                        </div>
                    </li>
                
                <li class="hp-recruitment__list-item col-md-4 col-xs-12">
                        
                            <img class="hp-recruitment__img imgLazy loaded" [src]="step_image_two"  alt="" >
                        
                        <div class="hp-recruitment__text">
                            <div class="prismic-rich-text"><p><strong>Travaillez </strong>main dans la main. Devis, contrats, livrables, vous décidez ensemble des modalités et collaborez en direct tout au long de la mission. </p></div>
                        </div>
                    </li>
                
                <li class="hp-recruitment__list-item col-md-4 col-xs-12">
                        
                            <img class="hp-recruitment__img imgLazy loaded" [src]="step_image_three" alt="" >
                        
                        <div class="hp-recruitment__text">
                            <div class="prismic-rich-text"><p><strong>Recommencez. </strong>La mission est terminée, vous validez le paiement  sur notre plateforme sécurisée. Lancez de nouveaux projets ! </p></div>
                        </div>
                    </li>
                
            </ol>
    
        </div>
    </div>
    <!-- Steps started / End -->