<section class="landing-page__main-sections security-and-costs">

    <div class="landing-page__section-content">
       
        <div class="row">

            <div class="col-xs-12 security-and-costs-title">
                <h2 class="custom-h2">La sécurité de vos données est notre priorité</h2>
            </div>
            
                <div class="col-md-4 col-sm-12">
                    <section class="security-and-costs-section">
                     
                        <div>
                            <div class="security-and-costs-section_title"></div>
                            <div class="security-and-costs-section_content">
                                <div class="prismic-rich-text"><p>Vous maitrisez qui accède à SITE NAME et la politique de sécurité de vos mots de passe via le Single Sign On (SSO). Compatibilité avec les standards du marché. <a href="https://www.malt.fr/c/sso">En savoir plus</a></p></div></div>
                        </div>
                    </section>
                </div>
            
                <div class="col-md-4 col-sm-12">
                    <section class="security-and-costs-section">
                 
                        <div>
                            <div class="security-and-costs-section_title"></div>
                            <div class="security-and-costs-section_content"><div class="prismic-rich-text"><p>Tous vos échanges sont sécurisés avec les standards de chiffrement les plus fiables. Aucun document n'est accessible sans autorisation.</p></div></div>
                        </div>
                    </section>
                </div>
            
                <div class="col-md-4 col-sm-12">
                    <section class="security-and-costs-section">
                     
                        <div>
                            <div class="security-and-costs-section_title"></div>
                            <div class="security-and-costs-section_content"><div class="prismic-rich-text"><p>Vos données sont protégées conformément à la réglementation européenne (RGPD).</p></div></div>
                        </div>
                    </section>
                </div>
            

            
        </div>
</div>
</section>