<section class="legal-section landing-page__main-sections container mt-5">

    <div class="landing-page__section-content">
        <div class="row">
            <h3 class="col-md-12 custom-h2">
                Le modèle le plus sûr pour travailler avec des freelances
            </h3>
        </div>
        <div class="row legal-section__content-wrapper">
            
                <div class="col-md-4">
                    <h4 style="font-family: Agrandir Tight,Arial,Helvetica,sans-serif;">Un cadre légal simple et direct</h4>
                    
                        <div class="prismic-rich-text"><p>Vous passez un contrat de mission directement avec le freelance. Il n'y a pas de contrat de travail entre Malt et le freelance : vous ne courrez donc aucun risque de délit de marchandage et de prêt de main d'œuvre illicite. <a href="/companies/legal">En savoir plus</a></p></div>
                    
                </div>
            
                <div class="col-md-4">
                    <h4 style="font-family: Agrandir Tight,Arial,Helvetica,sans-serif;">Vos propres contrats</h4>
                    
                        <div class="prismic-rich-text"><p>Vos contrats sont proposés en ligne aux freelances (CGA, contrats d'application, NDA, etc.). Contrôlez en temps-réel vos missions et vos budgets, pour maintenir un haut niveau de conformité tout au long de vos projets.</p></div>
                    
                </div>
            
                <div class="col-md-4">
                    <h4 style="font-family: Agrandir Tight,Arial,Helvetica,sans-serif;">Une assurance AXA RC Pro pour toutes vos missions</h4>
                    
                        <div class="prismic-rich-text"><p>Tous les freelances avec lesquels vous travaillez sur Malt sont protégés par une assurance <strong><a href="https://help.malt.com/l/fr/article/lpw1soxcet-nouvelles-offres-que-comprend-la-police-d-assurance-axa" target="_blank" rel="noopener">RC Pro AXA</a> </strong>à hauteur de 20 millions d'€. Vous êtes couvert.</p></div>
                    
                </div>
            
        </div>
    </div>
</section>