<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">

	<!-- Row / Start -->
	<div class="row">

		<div class="col-md-12">

            <h2 class="custom-h2">Une solution adaptée à tous vos projets freelances</h2>

            <h4 class="custom-h2">Choisissez l'offre qui vous correspond</h4>

			<app-price-table></app-price-table>
		</div>
	</div>
	<!-- Row / End -->


    <app-offres-services-securite></app-offres-services-securite>

</div>
<!-- Container / End -->